@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');
:root {
    --base00: #1e1e2e; /* base */
    --base01: #181825; /* mantle */
    --base02: #313244; /* surface0 */
    --base03: #45475a; /* surface1 */
    --base04: #585b70; /* surface2 */
    --base05: #cdd6f4; /* text */
    --base06: #f5e0dc; /* rosewater */
    --base07: #b4befe; /* lavender */
    --base08: #f38ba8; /* red */
    --base09: #fab387; /* peach */
    --base0A: #f9e2af; /* yellow */
    --base0B: #a6e3a1; /* green */
    --base0C: #94e2d5; /* teal */
    --base0D: #89b4fa; /* blue */
    --base0E: #cba6f7; /* mauve */
    --base0F: #f2cdcd; /* flamingo */
    font-family: "Cascadia Code", sans-serif;
    background-color: var(--base00);
    color: var(--base05);
    font-optical-sizing: auto;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 80%;
    margin: auto;
}

.titulo-principal {
    text-align: center;
    width: 100%;
    font-size: 32px;
    background-color: var(--base01);
    padding: 10px;
    border-radius: 15px;
}

.botao {
    background-color: var(--base02);
    color: var(--base05);
    padding: 1em;
    font-size: 18px;
    width: 100%;
    border: 3px solid var(--base03);
    border-bottom: none;
    border-top: none;
}

.botao:first-child {
    border-radius: 10px 10px 0px 0px;
    border-top: 3px solid var(--base03);
}

.botao:last-child {
    border-radius: 0px 0px 10px 10px;
    border-bottom: 3px solid var(--base03);
} 

.botaoaberto {
    background-color: var(--base03);
    padding: 10px;
    border-radius: 10px;
}